:root {
    --section-fundo-azul: #F0F8FF;
    --cor-dos-textos: #464646;
    --cor-dos-botoes: #2A7AE4;
    --branco: #fff;
    --cor-dos-bordes-botoes: transparent;
    --radius-botoes: 5px;
    --monserrat: 'Montserrat', sans-serif;
    --peso-fonte: 600;
    --radius-imagem: 100%;
    --tamanho-fonte-titulos: 1.2em;
    --padding-titulos: 1.5em 0;
}

body {
    width: 100%;
}

.container {
    padding-right: 5%;
    padding-left: 5%;
    color: var(--cor-dos-textos);
    font-family: var(--monserrat);
}

.botao-bramco {
    background-color: var(--branco);
    color: var(--cor-dos-botoes);
    border-color: var(--cor-dos-botoes);
    border-radius: var(--radius-botoes);
    font-size: 1.2em;
}

.botao-azul {
    background-color: var(--cor-dos-botoes);
    color: var(--branco);
    border-color: var(--cor-dos-bordes-botoes);
    border-radius: var(--radius-botoes);
    font-size: 1.2em;
}

.tituloDasSecoes {
    font-size: var(--tamanho-fonte-titulos);
    font-weight: var(--peso-fonte);
    text-align: center;
    padding: 1.5em 0;
}

.footer-da-pagina {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.2em;
}

@media screen and (min-width: 768px) {
    .tituloDasSecoes {
        font-size: 1.5em;
    }

    .footer-da-pagina {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .footer-da-pagina {
        width: calc(100% - 10%);
    }
}